body{
/*    background-image: url("https://images.unsplash.com/photo-1761475145944-52df2def23e9?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyNTR8fHxlbnwwfHx8fHw%3D");*/
/*    background-size: cover;*/
/*    background-attachment: fixed;*/
/*    background-position: center;*/
/*}*/
/*p{*/
/*    color: coral;*/
    font-size: 20px;
    /*width: 30%;*/
    /*height: 50 px;*/
    /*background-color: lightskyblue;*/
/*    display: inline-block;*/
/*}*/
h1, h2{color: darkgray;}

/*sub, sup {*/
/*    !*font-size: 16px;*!*/
/*    color: tan;*/
/*}*/
/*span{*/
/*    !*    font-size: 40px;*!*/
/*    color: darkblue;*/
/*    width: 30%;*/
/*    height: 50 px;*/
/*    background-color: lightskyblue;*/
/*    display: inline-block;*/
/*}*/
/*img{*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    object-fit: cover;*/
}

/*...............*/